In [1]:
x = 10
if x % 2 == 0:
    print('x is even.')
else: 
    print('x is odd.')

x is even.

In [2]:
user_input = input('Enter a Number: ')
x = int(user_input)
if x % 2 == 0:
    print(f'{x} is even.')

else: 
    print(f'{x} is odd.')

In [ ]:
time = input('Enter time: ')
t = int(time)
if 0 <= t < 6:
    print(f'{t} is late at night.')
elif 6 <= t < 12:
    print(f'{t} is in the morning.')

elif 12 <= t < 18:
    print(f'{t} is in the afternoon.')
else:
    print(f'{t} is in the evening.')

16 is in the afternoon.

In [ ]:
user_age = int(input('Please enter your age: '))

if user_age >= 18:
    print('You are an adult.')
    if user_age >= 21:
        print('You are eligible vote.')
    else:
        print('You are eligible to vote but not yet 21.')
else: 
    print('You are a minor.')

You are an adult.
You are eligible vote.

In [ ]:
first_name = 'John '
second_name = 'Doe'
full_name = first_name + second_name
print(full_name)

John Doe

In [ ]:
a = 10
a = a - 5
print(a)

5

Loops

In [ ]:
num = 0

while num <= 10000:
    print(num)
    num += 1

In [ ]:
n = 10
while True:
    print(n, end='')
    n = n -1
    
print('done')

In [ ]:
word = 'Zindua'

for char in word:
    print(char)
    
fruits = ['apple', 'banana', 'orange']
for fruit in fruits:
    print(fruit)

In [ ]:
for num in range(2, 10 + 1):
    print(num)
    
colors = ['red', 'green', 'blue', 'yellow', 'black', 'white']
for index, color in enumerate(colors):
    print(f'Color at {index}: {color}')

In [ ]:
start = input('Enter start number: ')
end = input('Enter end number: ')
sum = 0
for num in range(int(start), int(end) + 1):
    if num % 2 != 0:
        sum += num
        print(sum)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225

Lists

In [ ]:
names = ['Stephen', 'Daniel', 'Christine', 'Betty', 'Diana', 'Tracy', 30, 40, True]
numbers = [1, 2, 3, 4 ,5] 
print(names[5])
print(numbers)

for name in names:
    print(name)

Tracy
[1, 2, 3, 4, 5]
Stephen
Daniel
Christine
Betty
Diana
Tracy
30
40
True

In [ ]:
numbers = [1, 2, 3, 4, 5, [7, 8, 9, 10], 6]
print(numbers[-1])

6

Slicing an Element

In [ ]:
numbers = [10, 2, 3, 4, 5, 1, 8, 9, 7, 6]
numbers.sort()
print(numbers)

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[1:4]) # elements fromm index 1 to 3
print(numbers[:5]) # Elements from the start to the index 4
print(numbers[::2]) # Every second element in the list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 3, 4]
[1, 2, 3, 4, 5]
[1, 3, 5, 7, 9]

Modifying the list

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers[9] = 11
print(numbers)
names = ['Stephen', 'Daniel', 'Christine', 'Betty', 'Diana', 'Tracy']
names[1] = 'Agnes'
print(names)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11]
['Stephen', 'Agnes', 'Christine', 'Betty', 'Diana', 'Tracy']

Appending elemnts to a list

In [ ]:
names = ['Stephen', 'Daniel', 'Christine', 'Betty', 'Diana', 'Tracy']
names.append('Agnes')
print(names)

['Stephen', 'Daniel', 'Christine', 'Betty', 'Diana', 'Tracy', 'Agnes']

Remove element from the list

In [ ]:
names = ['Stephen', 'Daniel', 'Christine', 'Betty', 'Diana', 'Tracy']
# names.remove('Daniel')
print(names)

print('Agnes' in names)
print(len(names))
repeated = names * 5
print(repeated)

['Stephen', 'Daniel', 'Christine', 'Betty', 'Diana', 'Tracy']
False
6
['Stephen', 'Daniel', 'Christine', 'Betty', 'Diana', 'Tracy', 'Stephen', 'Daniel', 'Christine', 'Betty', 'Diana', 'Tracy', 'Stephen', 'Daniel', 'Christine', 'Betty', 'Diana', 'Tracy', 'Stephen', 'Daniel', 'Christine', 'Betty', 'Diana', 'Tracy', 'Stephen', 'Daniel', 'Christine', 'Betty', 'Diana', 'Tracy']

In [ ]:
names = ['Stephen', 'Daniel', 'Christine', 'Betty', 'Diana', 'Tracy']
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

combined = names + numbers
print(combined)

['Stephen', 'Daniel', 'Christine', 'Betty', 'Diana', 'Tracy', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for index, name in enumerate(names):
    print(f'{index}: {name}')

0: Stephen
1: Daniel
2: Christine
3: Betty
4: Diana
5: Tracy

In [ ]:
numbers = [10, 2, 3, 4, 5, 1, 8, 9, 7, 6]
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)

names = ['Stephen', 'Daniel', 'Christine', 'Betty', 'Diana', 'Tracy']
names.sort()
print(names)

names.reverse()
print(names)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
['Betty', 'Christine', 'Daniel', 'Diana', 'Stephen', 'Tracy']
['Tracy', 'Stephen', 'Diana', 'Daniel', 'Christine', 'Betty']

Functions

In [ ]:
def greet():
    print('Hello! welcome to Python functions.')
    
greet()
greet()
greet()
greet()

Hello! welcome to Python functions.
Hello! welcome to Python functions.
Hello! welcome to Python functions.
Hello! welcome to Python functions.

In [ ]:
def greet_user(name='Student'):
    print(f'Hello, {name}! Welcome to Zindua school!')
    
name = 'Tracy'
greet_user(name)

Hello, Tracy! Welcome to Zindua school!

In [ ]:
def sum_of_numbers(num1, num2):
    return num1 + num2

print(sum_of_numbers(2, 3))

# num1 = 2
# num2 = 3
# sum = num1 + num2
# print(sum)

# a = 300
# b = 400
# sum = a + b
# print(sum)
# sum = sum_of_numbers(300, 400)
print(sum_of_numbers(300, 400))
print(sum_of_numbers(6, 4))

5
700
10

In [ ]:
import math

def calculate_area(radius):
    area = math.pi * (radius ** 2)
    return area

result = calculate_area(7)
print(f'{result:.2f}')

153.94

Functions scope
Dictionaries(dict)
Tuples
regex

In [ ]:
def my_function():
    x = 20 # x is defined in the local scope of my_funcion
    print(x)

my_function()

20

In [ ]:
x = 20 # x is defined in the global scope

def my_function():
    print(x)

my_function()

20

In [ ]:
global_var = 10

def my_function():
    print(global_var)
    
my_function()

10

In [ ]:
student = {
    'name': 'John',
    'age': 20,
    'grade': 'A'
    
}
print(student)
print(student['name'])
print(student['age'])
print(student['grade'])
student['age'] = 25
student['city'] = 'Nairobi'
del student['grade']
print(student)

{'name': 'John', 'age': 20, 'grade': 'A'}
John
20
A
{'name': 'John', 'age': 25, 'city': 'Nairobi'}

In [ ]:
student_db = {
    1: {
        'name': 'Alice',
        'age': 20,
        'course': 'Data Science',
        'mode': 'remote'
    },
    2: {
        'name': 'Dan',
        'age': 22,
        'course': 'Software Development',
        'mode': 'Full-time'
    },
    3: {
        'name': 'Mary',
        'age': 21,
        'course': 'Machine Learning',
        'mode': 'Full-time'
    },
}

print(student_db[2])
print(student_db[2]['name'])

{'name': 'Dan', 'age': 22, 'course': 'Software Development', 'mode': 'Full-time'}
Dan

In [ ]:
inventory = {
    'p1001': {
        'name': 'Laptop', 
        'price': 1200,
        'quantity': 10
    },
    'p1002': {
        'name': 'Mouse',
        'price': 20,
        'quantity': 50
    },
    'p1003': {
        'name': 'keyboard',
        'price': 50,
        'quantity': 30
    },
}

# print(inventory['p1001'])
# for product_id in inventory:
#     print(inventory[product_id]['quantity'])
def process_sale(product_id, quantity_sold):
    if product_id in inventory:
        if inventory[product_id]['quantity'] >= quantity_sold:
            inventory[product_id]['quantity'] -= quantity_sold
            print(f"Sale processed successfully. Remaining quantity: {inventory[product_id]['quantity']}")
        else:
            print('Insufficient quantity in stock.')
    else: 
        print('Product not found in the inventory.')
        

process_sale('p1001', 5)

{'name': 'Laptop', 'price': 1200, 'quantity': 10}
10
50
30
Sale processed successfully. Remaining quantity: 5

In [ ]:
users = {
    'user1': {
        'name': 'Ann',
        'email': 'ann@gmail.com',
        'age': 30,
        'address': {
            'city': 'Nairobi',
            'town': 'Thika',
            'location': {
                'longtude': 50.05,
                'latitude': -0.234
            }
        }
        
    },
    'user2': {
        'name': 'Ann',
        'email': 'ann@gmail.com',
        'age': 30,
        'address': {
            'city': 'Nairobi',
            'town': 'Thika',
            'location': {
                'longtude': 50.05,
                'latitude': -0.234
            }
        }
        
    }, 
    'user3': {
        'name': 'Ann',
        'email': 'ann@gmail.com',
        'age': 30,
        'address': {
            'city': 'Nairobi',
            'town': 'Thika',
            'location': {
                'longtude': 50.05,
                'latitude': -0.234
            }
        }
        
    }
}

print(users['user3'])
# print(users['user1']['address']['location']['longtude'])

{'name': 'Ann', 'email': 'ann@gmail.com', 'age': 30, 'address': {'city': 'Nairobi', 'town': 'Thika', 'location': {'longtude': 50.05, 'latitude': -0.234}}}

Tuples - are ordered collection of items that are immutable

In [ ]:
my_tuple = (1, 2, 3, 4, 'Ann', 'Bob')
print(type(my_tuple))

<class 'tuple'>

In [ ]:
point = (10, 30)
print(f'X-coordinate: {point[0]}, Y-coordinate: {point[1]}')

X-coordinate: 10, Y-coordinate: 30

In [ ]:
def get_user_info(user_id):
    name = 'John Doe'
    age = 30
    email = 'johndoe@gmail.com'
    
    return name, age, email

user_info = get_user_info(101)
print(f'Name: {user_info[0]}, Age: {user_info[1]}, Email: {user_info[2]}')

Name: John Doe, Age: 30, Email: johndoe@gmail.com

In [ ]:
days_of_week = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')
print(days_of_week)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')

In [ ]:
student = ('Ann', (25, 'Computer Science'))
print(student[1][1])

Computer Science

In [ ]:


app_settings = ('Dark', 16, True)

print(f'Theme: {app_settings[0]}, Font Size: {app_settings[1]}, Notifications: {app_settings[2]}')

Theme: Dark, Font Size: 16, Notifications: True

Regex

Matching Literal Characters

In [ ]:
import re
text = 'Hello, world!'
pattern = r"Hello"
result = re.search(pattern, text)
if result:
    print("Pattern found")
else:
    print("Pattern not")

Pattern found

Special Characters

In [ ]:
# '.' (dot)
text = "dog, log, blog, fog, bat, frog"
pattern = r".og"
matches = re.findall(pattern, text)
print(matches)

# '^' (Caret)

['dog', 'log', 'log', 'fog', 'rog']

In [ ]:
strings = [
    "apple banana cherry",
    "orange mango apple",
    "banana apple cherry"
]

pattern = r"^banana"
pattern_end = r"cherry$"

for string in strings:
    if re.search(pattern_end, string):
        print("Ends with 'cherry'")

for string in strings:
    if re.match(pattern, string):
        print(f"Match found: '{string}' starts with 'banana'")
    else:
        print(f"Match not found: '{string}' does not start with 'apple'")

Ends with 'cherry'
Ends with 'cherry'
Match not found: 'apple banana cherry' does not start with 'apple'
Match not found: 'orange mango apple' does not start with 'apple'
Match found: 'banana apple cherry' starts with 'banana'

In [ ]:
text = "Apples,Oranges,Mangoes"
pattern = r","
parts = re.split(pattern, text)
print(parts)

['Apples', 'Oranges', 'Mangoes']

In [ ]:
text = "Hello, World!"
pattern = r"world"
replacement = "Zindua"

new_text = re.sub(pattern, replacement, text, flags=re.I)
print(new_text)

Hello, Zindua!

File handling

In [ ]:
with open('conditionals.py', 'r') as file:
    content = file.read()
    print(content)

In [ ]:
file = open('conditionals.py', 'r')
content = file.read()
print(content)
file.close()

In [ ]:
with open('app.txt', 'w') as file:
    file.write('Good evening?\n')
    file.write('How are you?\n')

In [ ]:
with open('app.txt', 'a') as file:
    file.write('This is an appended content.')